@{
    ViewData["Title"] = "Ínicio";
}
<main class="first">
    <div class="logo mobile">
        <img src="~/images/logotipo/Logotipo-20.png" alt="logotipo" />
    </div>
    <div class="logo desktop">
        <img src="~/images/logotipo/Logotipo-18.png" alt="logotipo" />
    </div>
    <div class="cta">
        <img src="~/images/arrow.png" alt="arrow" />
    </div>
</main>
<section class="about">
    <h2 class="title">Quem somos</h2>
    <p class="text">
        <strong>A Associação Museu das Emoções, entidade sem fins lucrativos, foi criada no dia 2 de dezembro de 2020.</strong><br /><br />
        Tem como Missão a promoção de projetos na área do desenvolvimento pessoal e da Educação para a Literacia das Emoções, com o apoio de:<br /><br />
        Promoção de Formação em escolas, empresas e demais entidades com e sem fins lucrativos;<br /><br />
        Apoio social na área da Educação e Psicologia.<br /><br />
        Desde sempre que dois dos seus fundadores falavam, imaginavam, sonhavam com a oportunidade de trabalharem mais uma vez juntos, em algo que fosse e fizesse a diferença em cada um de nós, em todos nós.<br /><br />
        A Literacia Emocional é o modelo em que, sem saberem, já coexistia em tudo o que faziam pessoal e profissionalmente.<br /><br />
        Durante um ano em que a tristeza invadiu muitos de nós, potenciou-se a realização de uma ideia que ganhou vida e corpo com algumas experiências em algumas escolas e empresas.<br /><br />
        Surge então a ideia de que não se queria encontrar a caixa do tesouro no final do arco-íris mas sim, desfrutar de cada pedra preciosa que encontramos no caminho que diariamente percorremos. E são tantas essas pedras, começando, desde logo, pelo primeiro passo que damos quando acordamos.
    </p>
</section>
<section class="news">
    <h2 class="title">Notícias</h2>
    <div class="list">
        <div class="article">
            <h4 class="title">A Casa do Museu das Emoções</h4>
            <div class="image">
                <img src="~/images/news1.jpg" alt="Banner A Casa do Museu das Emoções" />
            </div>
        </div>
        <div class="article">
            <h4 class="title">AMORAMA - Nova Parceria Pedagógica</h4>
            <div class="image">
                <img class="image" src="~/images/news2.jpg" alt="Banner AMORAMA - Nova Parceria Pedagógica" />
            </div>
        </div>
    </div>
</section>
<section class="services">
        <h2 class="title">Serviços</h2>
    <h3 class="subtitle">Formação e Treino de Competências</h3>
    <h4 class="topic">2 A's # Avaliação Ativa</h4>
    <p class="text">ASE - Analise Swot Emocional, O Mapa do Teu Dia, O Teu Kolam, O Ossário do EU e os 5's Porquês são algumas das ferramentas que são usadas para realizarmos avaliações a nós mesmos e ao que nos rodeia emocionalmente.
        <br /><br />Desafios cativantes que fazem das avaliações uma forma de nos transform
    armos.</p>
    <h4 class="topic">Workshops (IN)EMOÇÕES</h4>
    <p class="text">
        Ampulheta 58 segundos, Socorro, os Pais também choram, Tretas de Bullys, são alguns dos momentos que potenciam temas abrangentes ou incisivos junto das pessoas.
        <br /><br />
        Com a utilização de técnicas simples mas eficazes, estes momentos permitem que os participantes sintam as várias oportunidades que tem ao seu redor para serem mais felizes.
    </p>
    <h4 class="topic">Espaço SE Self Empowerment</h4>
    <p class="text">
        Um espaço individual (sessões individuais) em que potenciamos os recursos internos de cada, conhecendo-os, reconhecendo-os e olhando de vários locais para o mundo que nos rodeia. Assim, a capacidade de decidir, será não mais fácil mas mais protetor.
        <br /><br />
        Temos TCES - Treinos de Competências Emocionais e Sociais, Psicologia Clinica, Terapia da Fala.
    </p>
    <h3 class="subtitle">Férias Escolares, Fins de Semana e Festas</h3>
    <h4 class="topic">Enamoramento de Estórias</h4>
    <p class="text">
        Escutar estórias é uma arte de comunicar. Reconstruir é ousadia. Subir o escadote é querer. Olhar para lá das palavras, é sabedoria emocional.
        <br /><br />
        Muitos estórias estranhas e conhecidas ganham nova vida com a Linguagem da Literacia Emocional.
    </p>
    <h4 class="topic">Bootcamp's IN & OUT</h4>
    <p class="text">
        Museu das Emoções viaja até... ou Bootcamp's F(IN)E são campos de férias que permitem a crianças e jovens experienciar momentos de aventura, desafios, desporto e treino de competências emocionais e sociais.
        <br /><br />
        Um espaço onde podemos percorrer o pais ou apenas desfrutar do local onde estamos de momento.
    </p>
    <h4 class="topic">Aniversaria-te!</h4>
    <p class="text">
        Queres realizar uma festa de aniversário com os teus amigos, família?
        <br /><br />
        Consegues decidir?
        <br /><br />
        Teatro, Pinturas Faciais, Insufláveis, Caça ao Tesouro Noturna, (IN)MindGames, Festas Enigmáticas, e muito mais!
    </p>
</section>
<section class="partners">
    <h2 class="title">Parceiros</h2>
    <div class="list">
        <div class="partner">
            <div class="image black">
                <img src="~/images/partners/byfurcacao-logo.jpg" alt="Logotipo Byfurcacao" />
            </div>
            <h4 class="name">Byfurcacao</h4>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/partners/isec_lisboa-logo.png" alt="Logotipo ISEC Lisboa" />
            </div>
            <h4 class="name">ISEC Lisboa</h4>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/partners/aefga-logo.png" alt="Logotipo Agrupamento de Escolas Frei Gonçalo Azevedo" />
            </div>
            <h4 class="name">Agrupamento de Escolas Frei Gonçalo Azevedo</h4>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/partners/jfagualvamirasintra-logo.png" alt="Logotipo União de Freguesias Agualva e Mira-Sintra" />
            </div>
            <h4 class="name">União de Freguesias Agualva e Mira-Sintra</h4>
        </div>
        <div class="partner">
            <div class="image black">
                <img src="~/images/partners/alta_de_lisboa-logo.png" alt="Logotipo Alta de Lisboa" />
            </div>
            <h4 class="name">Alta de Lisboa</h4>
        </div>
        <div class="partner">
            <div class="image black">
                <img src="~/images/partners/encosta_dos_tuneis-logo.png" alt="Logotipo Encosta dos Túneis" />
            </div>
            <h4 class="name">Encosta dos Túneis</h4>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/partners/score_contabilidade-logo.png" alt="Logotipo Score Contabilidade" />
            </div>
            <h4 class="name">Score Contabilidade</h4>
        </div>
    </div>
</section>