@{
    ViewData["Title"] = "Associa-te";
}
<section class="member h-padding first">
    <h2 class="title">Associa-te</h2>
    <p class="text"><strong>Identificar-se com a missão da AME e contribuir para a realização dos seus fins associativos.</strong></p>
    <div class="youth">
        <h3 class="title">Sócio Juvenil</h3>
        <p class="text">São Sócios Juvenis, todos os menores de 18 anos e estão isentos de pagamento de quota. O sócio juvenil apenas pode ter direito a descontos de parceiros, atividades e outros, quando o Encarregado de Educação é associado da AME.<br /><br />A anuidade de sócio é grátis.</p>
    </div>
    <div class="effective">
        <h3 class="title">Sócio Efetivo</h3>
        <p class="text">
            São Sócios Efetivos todos aqueles que tendo idade igual ou superior a 18 anos, usufruem de todos os direitos e estão sujeitos a todos os deveres estatuários, podendo participar plenamente na vida associativa da Associação.<br /><br />A anuidade de sócio é de 20€ anual.<br /><br />Deve ser realizado por transferência bancária para o IBAN PT 50026901120020056554812 e enviar comprovativo para info@emocoes.pt
        </p>
    </div>
</section>
<section class="discounts">
    <h2 class="title">Descontos para Sócios</h2>
    <p class="text"><strong>No âmbito da parceria com várias entidades, os nossos associados tem a oportunidade de auferir de descontos junto de alguns dos parceiros da AME. Deve contactar os parceiros e saber qual os benefícios oferecidos.</strong></p>
    <div class="list">
        <div class="partner">
            <div class="image white">
                <img src="~/images/Descontos/valente_ferreira-logo.jpg" alt="" />
            </div>
            <p class="text">O Mediador que oferece descontos nos seguros que precisar. A cotação do desconto é feita no ato da solicitação de orçamento.</p>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/Descontos/dona_estefania-logo.png" alt="" />
            </div>
            <p class="text">A tradição de Sintra dada pela Dona Estefânia. Não tendo descontos para sócios, é um dos parceiras na potencialização de apoios para algumas das nossas iniciativas.</p>
        </div>
        <div class="partner">
            <div class="image black">
                <img src="~/images/Descontos/belas_visao-logo.png" alt="" />
            </div>
            <p class="text">O seu oculista com uma variedade de escolha desde consultas aos óculos que precisa ou deseja. A cotação do desconto é feita no ato da solicitação de orçamento</p>
        </div>
        <div class="partner">
            <div class="image black">
                <img src="~/images/Descontos/glowpt-logo.jpg" alt="" />
            </div>
            <p class="text">Um empresa de produtos decorativos, com uma diversidade fantástica de possibilidades para as várias épocas festivas e aniversários.<br />Desconto: 5% sobre a compra efetuada.</p>
        </div>
        <div class="partner">
            <div class="image white">
                <img src="~/images/Descontos/clinica_navegantes-logo.png" alt="" />
            </div>
            <p class="text">A Clinica Navegantes, constituída por profissionais de excelência, permite aos nossos sócios, descontos em várias áreas da saúde.<br />Desconto: veja tabela</p>
        </div>
    </div>
</section>