@{
    ViewData["Title"] = "Notícias";
}
<section class="news h-padding first">
    <h2 class="title">Notícias</h2>
    <div class="list">
        <div class="article">
            <h4 class="title">A Casa do Museu das Emoções</h4>
            <div class="image">
                <img src="~/images/news1.jpg" alt="Banner A Casa do Museu das Emoções" />
            </div>
        </div>
        <div class="article">
            <h4 class="title">AMORAMA - Nova Parceria Pedagógica</h4>
            <div class="image">
                <img class="image" src="~/images/news2.jpg" alt="Banner AMORAMA - Nova Parceria Pedagógica" />
            </div>
        </div>
    </div>
</section>